@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

.text {
    position: absolute;
    left: 40%;
    font-size: 25px;
    font-family: 'Merienda', cursive
}

#temp_ {
    top: 40%;
}

#cpu_ {
    top: 45%;
}

#ram_ {
    top: 50%;
}